@import "bootstrap/dist/css/bootstrap.min.css";



 .App {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aqua;
}

.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  color: aqua;
  background-color: coral;
}

.Navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10px;

}

.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0%;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  color: aqua;
  background-color: coral;
}

.Form {
  display: flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Card {
  display: flexbox;
  padding: 5em;
  margin-top: -20em;
  justify-content: center;
}
